<form   *ngIf="pokemonForm !== null" 
        [formGroup]="pokemonForm" 
        (ngSubmit)="onSubmit($event)" >
    <label for="">Nom</label>
    <input type="text" formControlName="name" />
    <br />

    <p *ngIf="pokemonForm.controls.name?.errors?.taken">Ce nom est déjà pris.</p>
    
    <label for="">Type</label>
    <input type="text" formControlName="type" />
    <br />
    
    <label for="">Description</label>
    <input type="text" formControlName="desc" />
    <br />
    
    <label for="">Image</label>
    <input type="text" formControlName="img" />
    <br />

    <input type="submit" value="OK" />
</form>
