<form   *ngIf="pokemonForm !== null" 
        [formGroup]="pokemonForm" 
        (ngSubmit)="onSubmit($event)" >
    <label for="">Nom</label>
    <input type="text" formControlName="name" />
    <br />
    
    <label for="">Type</label>
    <input type="text" formControlName="type" />
    <br />
    
    <label for="">Description</label>
    <input type="text" formControlName="desc" />
    <br />
    
    <label for="">Image</label>
    <input type="text" formControlName="img" />
    <br />

    <input type="submit" value="OK" />
</form>
